$main-color: linear-gradient(to right, #2BB2E7 , #35D1CF);

.mainbgcolor{
  background-image: $main-color;
  color: #fff;
  background-color: rgba(0,0,0,0);
  border: none;
}
.mainbgcolor:hover{
  background-image: $main-color;
  color: #fff;
  background-color: rgba(0,0,0,0);
  border: none;
}
.mainbgcolor:focus{
  background-image: $main-color;
  color: #fff;
  background-color: rgba(0,0,0,0);
  border: none;
}

/*滚动条样式*/
.srollBar::-webkit-scrollbar {
  width: 6px;    
  /*height: 4px;*/
}
.srollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background-image: $main-color;
}
.srollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background-color: #fff;
}

// 重置表单样式

// label的必填的星号的颜色
/deep/.el-form-item__label:before{
  color: #2BB2E7!important;
  
}
/deep/.el-form-item__label{
  text-align: justify!important;
  text-align-last: justify;
}